.page-mask {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #fff;
    top: 0px;
    left: 0px;
    z-index: 99999
}

.page-mask .page-loader {
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    margin: 23% auto 0 auto;
    font-size: 12px;
}

.page-mask .page-loader .spinner {
    border: 2px solid #eeeeee;
    border-top-color: #2eaef0;
    font-size: 40px;
    width: 1em;
    height: 1em;
    border-radius: .5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.page-ajax {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background: transparent;
    top: 0px;
    left: 0px;
    z-index: 99999;
}

.page-ajax .page-loader {
    background-color: #f3f3f4;
    border-radius: 5px;
    display: block;
    width: 100px;
    height: 100px;
    padding-top: 10px;
    text-align: center;
    line-height: 44px;
    margin: 15% auto 0 auto;
    font-size: 12px;
}

.page-ajax .page-loader .spinner {
    margin: 0 auto;
    border: 2px solid #eeeeee;
    border-top-color: #2eaef0;
    font-size: 40px;
    width: 1em;
    height: 1em;
    border-radius: .5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.modal_user_area .modal-body {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    text-align: center;
}

.modal_user_area .modal-body h2 {
    font-size: 30px;
}

.modal_user_area .modal-body i {
    color: #F8C086;
}

.modal .modal-content {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    border: 1px solid transparent;
}

.modal .modal-content .modal-body {
    /* padding: 25px 15px 30px; */
    font-size: 14px;
}

.action-column a,
.action-column button{
    text-align:left !important;
}