.page-mask {
    width: 100%;
    height: 100%;
    position: fixed;
    background: #fff;
    top: 0px;
    left: 0px;
    z-index: 99999
}

.page-mask .page-loader {
    width: 44px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    margin: 23% auto 0 auto;
    font-size: 12px;
}

.page-mask .page-loader .spinner {
    border: 2px solid #eeeeee;
    border-top-color: #2eaef0;
    font-size: 40px;
    width: 1em;
    height: 1em;
    border-radius: .5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.page-ajax {
    display: none;
    width: 100%;
    height: 100%;
    position: fixed;
    background: transparent;
    top: 0px;
    left: 0px;
    z-index: 99999;
}

.page-ajax .page-loader {
    background-color: #f3f3f4;
    border-radius: 5px;
    display: block;
    width: 100px;
    height: 100px;
    padding-top: 10px;
    text-align: center;
    line-height: 44px;
    margin: 15% auto 0 auto;
    font-size: 12px;
}

.page-ajax .page-loader .spinner {
    margin: 0 auto;
    border: 2px solid #eeeeee;
    border-top-color: #2eaef0;
    font-size: 40px;
    width: 1em;
    height: 1em;
    border-radius: .5em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.modal_user_area .modal-body {
    padding-top: 50px !important;
    padding-bottom: 50px !important;
    text-align: center;
}

.modal_user_area .modal-body h2 {
    font-size: 30px;
}

.modal_user_area .modal-body i {
    color: #F8C086;
}

.modal .modal-content {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    border: 1px solid transparent;
}

.modal .modal-content .modal-body {
    /* padding: 25px 15px 30px; */
    font-size: 14px;
}

.action-column a,
.action-column button{
    text-align:left !important;
}

.mg-top0{margin-top: 0px !important;}
.mg-top5{margin-top: 5px !important;}
.mg-top10{margin-top: 10px !important;}
.mg-top15{margin-top: 15px !important;}
.mg-top20{margin-top: 20px !important;}
.mg-top25{margin-top: 25px !important;}
.mg-top30{margin-top: 30px !important;}
.mg-top35{margin-top: 35px !important;}
.mg-top40{margin-top: 40px !important;}

.mg-bottom0{margin-bottom: 0px !important;}
.mg-bottom5{margin-bottom: 5px !important;}
.mg-bottom10{margin-bottom: 10px !important;}
.mg-bottom15{margin-bottom: 15px !important;}
.mg-bottom20{margin-bottom: 20px !important;}
.mg-bottom25{margin-bottom: 25px !important;}
.mg-bottom30{margin-bottom: 30px !important;}
.mg-bottom35{margin-bottom: 35px !important;}
.mg-bottom40{margin-bottom: 40px !important;}

.mg-left0{margin-left: 0px !important;}
.mg-left5{margin-left: 5px !important;}
.mg-left10{margin-left: 10px !important;}
.mg-left15{margin-left: 15px !important;}
.mg-left20{margin-left: 20px !important;}
.mg-left25{margin-left: 25px !important;}
.mg-left30{margin-left: 30px !important;}
.mg-left35{margin-left: 35px !important;}
.mg-left40{margin-left: 40px !important;}

.mg-right0{margin-right: 0px !important;}
.mg-right5{margin-right: 5px !important;}
.mg-right10{margin-right: 10px !important;}
.mg-right15{margin-right: 15px !important;}
.mg-right20{margin-right: 20px !important;}
.mg-right25{margin-right: 25px !important;}
.mg-right30{margin-right: 30px !important;}
.mg-right35{margin-right: 35px !important;}
.mg-right40{margin-right: 40px !important;}

.pd-top0{padding-top: 0px !important;}
.pd-top5{padding-top: 5px !important;}
.pd-top10{padding-top: 10px !important;}
.pd-top15{padding-top: 15px !important;}
.pd-top20{padding-top: 20px !important;}
.pd-top25{padding-top: 25px !important;}
.pd-top30{padding-top: 30px !important;}
.pd-top35{padding-top: 35px !important;}
.pd-top40{padding-top: 40px !important;}
.pd-top80{padding-top: 80px !important;}

.pd-bottom0{padding-bottom: 0px !important;}
.pd-bottom5{padding-bottom: 5px !important;}
.pd-bottom10{padding-bottom: 10px !important;}
.pd-bottom15{padding-bottom: 15px !important;}
.pd-bottom20{padding-bottom: 20px !important;}
.pd-bottom25{padding-bottom: 25px !important;}
.pd-bottom30{padding-bottom: 30px !important;}
.pd-bottom35{padding-bottom: 35px !important;}
.pd-bottom40{padding-bottom: 40px !important;}

.pd-left0{padding-left: 0px !important;}
.pd-left5{padding-left: 5px !important;}
.pd-left10{padding-left: 10px !important;}
.pd-left15{padding-left: 15px !important;}
.pd-left20{padding-left: 20px !important;}
.pd-left25{padding-left: 25px !important;}
.pd-left30{padding-left: 30px !important;}
.pd-left35{padding-left: 35px !important;}
.pd-left40{padding-left: 40px !important;}

.pd-right0{padding-right: 0px !important;}
.pd-right5{padding-right: 5px !important;}
.pd-right10{padding-right: 10px !important;}
.pd-right15{padding-right: 15px !important;}
.pd-right20{padding-right: 20px !important;}
.pd-right25{padding-right: 25px !important;}
.pd-right30{padding-right: 30px !important;}
.pd-right35{padding-right: 35px !important;}
.pd-right40{padding-right: 40px !important;}

@media (max-width: 767px) {
    .wizard > .steps > ul > li {
        width: 100% !important;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    .wizard > .steps > ul > li {
        width: 50% !important;
    }
}
@media (min-width: 1200px) {
    .wizard > .steps > ul > li {
        width: 50% !important;
    }
}
