body {
    font-size: 16px;
    line-height: 1.5;
    font-family: "Exo", sans-serif;
    color: #4A4545;
}
p {
    font-family: open sans,sans-serif;
    font-weight: 400;
    color: #666;
    line-height: 25px;
    font-size: 14px;
}
/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    padding: 0;
}
a.navbar-brand img {
    width: 180px;
}
.navbar .container {
    padding: 0;
    position: relative;
    transition: all 0.5s ease-in-out;
}
.navbar .color-logo {
    display: none;
}
.navbar .navbar-toggler .fa-bars {
    color: #fff;
}
.navbar .navbar-nav .nav-item {
    padding: 35px 15px;
    transition: all 0.5s ease-in-out;
    list-style: none;
}
.navbar .navbar-nav .nav-link:hover, .navbar-colored .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link.active, .navbar-colored .navbar-nav .nav-link.active {
    color: #e5e6e6;
}
.navbar .navbar-nav .nav-link {
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    padding: 0;
}
.navbar-colored {
    background-color: #fff;
    box-shadow: 0 1px 8px 3px rgba(0, 0, 0, 0.05);
    transition: all .45s ease;
}
.navbar-colored .navbar-nav .nav-item {
    padding: 25px 15px;
}
.navbar-colored .navbar-nav .nav-link {
    color: #333;
}
.navbar-colored .navbar-nav .nav-link:hover, .navbar-colored .navbar-nav .nav-link:hover, .navbar-colored .navbar-nav .nav-link.active {
    color: #58d2f5 !important;
}
.navbar-colored .navbar-toggler .fa-bars {
    color: #58d2f5;
}
@media (max-width: 991px) {
  	.navbar-colored .navbar-nav .nav-link:hover, .navbar-colored .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link.active, .navbar-colored .navbar-nav .nav-link.active {
		color: #5450ff;
	}
	.navbar .navbar-toggler:focus { outline: none; }
	.navbar { text-align: left; }
	.navbar .container { padding: 20px 0;}
	.navbar-colored .container { padding: 15px 0 10px;}
	.navbar-collapse {
		background-color: #fff;
		margin-top: 10px;
		max-height: 440px;
		overflow-y: scroll;
	}
	.navbar .navbar-nav .nav-item {    
		padding: 10px 20px;
		display: block;
		text-align: center;
	}
	.navbar .navbar-nav .nav-link {
		color: #3d3d40;
		padding: 0px;
		display: inline-block;
	}
}
/* Main App */
#app {
    margin-top: 73px;
    position: relative;
    margin-bottom: 75px;
}
.block-top-banner {
	padding-top: 50px;
	padding-bottom: 40px;
	margin-bottom: 50px;
    background: rgba(194,255,237,1);
	background: -moz-linear-gradient(left, rgba(194,255,237,1) 0%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(194,255,237,1)), color-stop(45%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
	background: -webkit-linear-gradient(left, rgba(194,255,237,1) 0%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 100%);
	background: -o-linear-gradient(left, rgba(194,255,237,1) 0%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 100%);
	background: -ms-linear-gradient(left, rgba(194,255,237,1) 0%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 100%);
	background: linear-gradient(to right, rgba(194,255,237,1) 0%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c2ffed', endColorstr='#ffffff', GradientType=1 );
    position: relative;
}
.main-text-banner {
    position: absolute;
    z-index: 1;
    top: 105px;
}
.main-text-banner h3 {
    font-size: 55px;
    font-weight: 700;
    line-height: 65px;
    text-shadow: rgb(255, 255, 255) 4px 4px 0px;
    margin-bottom: 0.6rem;
}
.main-text-banner h3 span {
    color: #FF8941;
}
.main-text-banner p {
    font-size: 23px;
    width: calc(100% - 500px);
    line-height: 32px;
}
.main-image-banner {
    background-repeat: no-repeat;
    background-position: right -30px;
    height: 450px;
    position: relative;
    background-size: contain;
    width: 100%;
}
.shape-1 {
    background-image: url(../img/9.png);
    height: 200px;
    width: 200px;
    background-size: contain;
    position: absolute;
    left: -40px;
    background-repeat: no-repeat;
    opacity: 0.1;
}
.shape-2 {
    background-image: url(../img/1.png);
    height: 135%;
    width: 100%;
    background-position: right;
    background-size: contain;
    position: absolute;
    right: 0px;
    top: -155px;
    background-repeat: no-repeat;
    opacity: 0.1;
}
.head-text {
	margin-bottom: 20px;
    padding-top: 70px;
    padding-bottom: 50px;
}
.head-text h3 {
    text-align: center;
    font-weight: 600;
    z-index: 1;
    position: relative;
    font-size: 35px;
}
.head-text h3 span {
    display: inline-block;
    position: relative;
}
.head-text h3 span:before {
    content: '';
    background-color: #58d2f5;
    width: 20px;
    position: absolute;
    height: 3px;
    z-index: -1;
    display: block;
    left: -15px;
    top: 38px;
}
.head-text h3 span:after {
    content: '';
    background-color: #58d2f5;
    width: 25px;
    border-radius: 50%;
    position: absolute;
    height: 25px;
    z-index: -1;
    display: block;
    right: -15px;
    top: 0px;
}
.head-text .sub-head {
    text-align: center;
    margin-top: 10px;
    display: block;
    font-size: 16px;
}
.page-header-area {
    margin-bottom: 30px;
    background-image: -webkit-gradient(linear, left top, right top, from(#ffffff), to(#f7f9fc));
    background-image: -webkit-linear-gradient(left, #ffffff, #f7f9fc);
    background-image: -o-linear-gradient(left, #ffffff, #f7f9fc);
    background-image: linear-gradient(to right, #ffffff, #f7f9fc);
}
.page-header-area .breadcrumb-a {
    color: #aaaaaa;
    text-decoration: none;
}
.page-header-area .breadcrumb-a:hover {
    color: #58d2f5;
}
.page-header-area .breadcrumb-active {
    color: #6f7484;
}
.page-header-area .brd {
    margin-right: 8px;
}
.page-header-area .brd:last-child {
    margin-right: 0px;
}
.page-header-area .brd+.brd::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: "/";
}
.head-text.pgh {
    display: flex;
    margin-bottom: 0px;
}
.head-text.pgh h3 span:before {
    content: none;
}
.head-text.pgh h3 {
    display: block;
    width: 100%;
    text-align: left;
    margin-top: -20px;
}
.head-text.pgh h3 .name-sub {
    font-family: open sans,sans-serif;
    font-size: 18px;
    margin-top: 10px;
    color: #696d7a;
    font-weight: normal;
}
.head-text.pgh p {
    text-align: right;
    width: 100%;
}

.catagory-clasification-part {
    background-color: #f5f5f5;
    position: relative;
    border-radius: 5px;
    margin-bottom: 30px;
    padding: 45px 0px 55px;
}
.catagory-clasification-part h3 {
    font-size: 24px;
    font-weight: 600;
    color: #00b8ef;
    line-height: 26px;
    padding: 8px 0px;
}
.catagory-clasification-part p {
    font-size: 14px;
    font-weight: 400;
    color: #777777;
}
.catagory-clasification-part-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    border-radius: 5px;
    background: linear-gradient(to right, #00b8ef 0%, #58d2f5 100%);
    box-shadow: 0px 0px 20px 1px rgba(8, 186, 239, 0.35);
}
.catagory-clasification-part:not(.not):hover .catagory-clasification-part-overlay {
    display: block;
    transform: scale(1.1);
    z-index: 99;
}
.catagory-clasification-part.not {
    cursor: not-allowed;
}
.catagory-clasification-part-overlay h3 {
    color: white;
    margin-top: 30px;
}
.catagory-clasification-part-overlay p {
    padding-bottom: 10px;
    color: white;
}
.catagory-clasification-part-overlay a {
    font-size: 14px;
    font-weight: 400;
    color: #00b8ef;
    padding: 6px 14px;
    background-color: #fff;
    border-radius: 3px;
    text-decoration: none;
}
.block-vc-list {
    padding: 10px 0px;
    border-radius: 8px;
}
.block-vc-list .vc-list {
    border: 1px solid #f8f9fc;
    padding: 10px 15px;
    margin-bottom: 15px;
    background: #fdfeff;
    border-radius: 5px;
    box-shadow: 0 2px 8px -1px rgba(231, 231, 231, 0.28);
    transition: all .15s ease-in-out;
}
.block-vc-list .vc-list:hover {
    box-shadow: 0 2px 8px -1px rgba(231, 231, 231, 0.53);
}
.block-vc-list .vc-list h4 {
    font-size: 20px;
    color: #696d7a;
    font-weight: 600;
    margin-bottom: 0px;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    height: 1.6em;
    line-height: 1.6em;
    overflow: hidden;
    word-wrap: break-word;
}
.block-vc-list .vc-list .vc-time {
    font-family: open sans,sans-serif;
    font-size: 14px;
    margin-top: 10px;
    display: block;
    color: #696d7a;
}
.block-vc-list .vc-list .vc-time .text-dl:after {
    content: ":";
    margin-right: 5px;
}
.block-vc-list .vc-list .vc-desc {
    width: calc(100% - 140px);
    display: inline-block;
    margin-right: 15px;
    padding-right: 6px;
    border-right: 1px solid #f8f9fc;
}
.block-vc-list .vc-list .vc-apply {
    width: 125px;
    display: inline-block;
    float: right;
    height: auto;
}
.btn-apply {
    background: #f9f9f9;
    border: 1px solid rgba(0, 0, 0, 0.08);
    height: 100%;
    margin-top: 12px;
}
.btn-apply-hg {
    font-size: 18px;
    padding-top: 8px;
    padding-bottom: 8px;
}
.btn-apply:hover {
    color: #ffffff;
    background: linear-gradient(to right, #58d2f5, #00b8ef);
    border-color: #58d2f5;
}
.btn-apply.active-btn {
    height: auto;
    color: #ffffff;
    background: linear-gradient(to right, #58d2f5, #00b8ef);
    border-color: #58d2f5;
    -webkit-transition: none;
       -moz-transition: none;
        -ms-transition: none;
         -o-transition: none;
            transition: none;
}
.btn-apply.active-btn:hover {
    color: #ffffff;
    background: none;
    background-color: #58d2f5;
    border-color: #58d2f5;
}
.block-vc-list .vc-list:hover .btn-apply {
    color: #ffffff;
    background: #58d2f5;
    border-color: #58d2f5;
}
.vc-detail {
    box-shadow: 0 2px 8px -1px rgba(231, 231, 231, 0.28);
    border: 1px solid #f8f9fc;
    border-radius: 5px;
}
.vc-detail .vc-summary {
    border: 1px solid #f5f5f5;
    padding: 20px 15px;
    border-radius: 4px;
    background-color: #fdfdfd;
}
.vc-detail .vc-summary .vc-info-date {
    font-family: open sans,sans-serif;
    margin-bottom: 3px;
}
.vc-detail .vc-summary .vc-info-date span {
    color: #747474;
    font-weight: 600;
}
.content-page-wrap {
    -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.03);
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.03);
    border-radius: 6px;
}
.list-err {
    font-size: 14px;
    display: list-item;
    list-style: circle;
    margin-left: 20px;
}
.section-padding-50 {
    padding: 50px 0;
}
.content-page-wrap .icon {
    margin-bottom: 50px;
}
.content-page-wrap h1 {
    font-size: 2.0rem;
    font-weight: 700;
    margin-bottom: 20px;
    line-height: 3rem;
    padding: 0px 120px;
}
.content-page-wrap p {
    color: #656565;
    margin-bottom: 30px;
    padding: 0px 25px;
}
.row-form-apply form label, .box-questions h3.main_question {
    font-weight: bolder !important;
}
.rqd-notif {
    font-size: 14px;
    margin-bottom: 20px;
}
.rqd-notif .rq {
    font-family: open sans,sans-serif;
    color: #ff6b6b;
    font-size: 20px;
    position: relative;
    top: 3px;
    left: -4px;
    margin-right: -3px;
}
.rqd {
    font-family: open sans,sans-serif;
    color: #ff6b6b;
    font-size: 18px;
    position: absolute;
    margin-top: -3px;
    margin-left: 4px;
    font-style: normal;
}
.form-control.is-invalid, .was-validated .form-control:invalid {
    background: none;
    padding-right: .75rem;
}
.box-photo-upload.is-invalid, .checkmark.is-invalid {
    border-color: #dc3545 !important;
}
.box-photo-upload {
    padding: .25rem;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    width: 100%;
    font-size: 14px;
    height: 180px;
    text-align: center;
    display: flex;
    align-items: center;
}
.box-photo-upload.img-upload {
    height: auto;
    max-height: 250px;
}
.opt-image-edit {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 3px 3px 8px 8px;
    border-radius: 0px 0px 0px 20px;
    box-shadow: rgba(0, 0, 0, 0.45) -6px 6px 7px -9px;
    cursor: pointer;
}
.opt-image-edit img {
    width: 18px;
}
.opt-info {
    position: absolute;
    top: 3px;
    right: 16px;
}
.box-photo-upload.on_dragging {
    background-color: #f6f6f6;
    border-style: dashed;
    border-color: #b5b5b5;
    box-shadow: rgba(152, 152, 152, 0.31) 0 0 15px -5px;
}
.img-input-hidden {
    position: absolute;
    visibility: hidden;
    z-index: 0;
}
.box-questions .form-group label {
    font-weight: normal !important;
}
.form-control:focus {
    border-color: #58d2f5;
    box-shadow: 0 0 0 0.2rem rgba(88, 210, 245, 0.25);
}
.box-questions h3.main_question {
    margin: 20px 0 20px 0;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    position: relative;
}
/*.box-questions h3.main_question:after {
    content: ' : ';
    font-weight: bolder;
}*/
.box-questions .form-group {
    position: relative;
}
.box-questions .container_radio {
    display: block;
    position: relative;
    font-size: 14px;
    font-size: 0.875rem;
    padding-left: 30px;
    line-height: 1.3;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.box-questions .container_radio.version_2 {
    padding: 6px 0 0 45px;
    min-height: 30px;
}
.box-questions .container_radio input {
    position: absolute;
    opacity: 0;
}
.box-questions .container_radio .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 50%;
}
.box-questions .container_radio.version_2 .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border: 1px solid #ccc;
    border-radius: 50%;
}
.box-questions .container_radio.version_2 .checkmark:before {
    display: block;
    content: "";
    position: absolute;
    opacity: 0;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    left: 12px;
    top: 8px;
    width: 5px;
    height: 10px;
    border: solid white;
    z-index: 999;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.box-questions .container_radio.version_2 input:checked ~ .checkmark:before {
    opacity: 1;
}
.box-questions .container_radio .checkmark:after {
    display: block;
    content: "";
    position: absolute;
    opacity: 0;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    top: 3px;
    left: 3px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #58d2f5;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.box-questions .container_radio.version_2 .checkmark:after {
    width: 30px;
    height: 30px;
    top: -1px;
    left: -1px;
}
.box-questions .container_radio input:checked ~ .checkmark:after {
    opacity: 1;
}
.box-questions .container_check {
    display: block;
    position: relative;
    font-size: 14px;
    font-size: 0.875rem;
    padding-left: 30px;
    line-height: 1.3;
    margin-bottom: 10px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.box-questions .container_check.version_2 {
    padding: 6px 0 0 45px;
    min-height: 30px;
}
.box-questions .container_check input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
.box-questions .container_check .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #d2d8dd;
    background-color: #fff;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.box-questions .container_check.version_2 .checkmark {
    height: 30px;
    width: 30px;
}
.box-questions .container_check input:checked ~ .checkmark {
    background-color: #58d2f5;
    border: 1px solid transparent;
}
.box-questions .container_check .checkmark:after {
    content: "";
    position: absolute;
    display: none;
    left: 7px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.box-questions .container_check.version_2 .checkmark:after {
    left: 12px;
    top: 8px;
    width: 5px;
    height: 10px;
}
.box-questions .container_check input:checked ~ .checkmark:after {
    display: block;
}

.top_scroll {
    width: 40px;
    height: 40px;
    background-image: linear-gradient(to right, #58d2f5, #00b8ef);
    line-height: 40px;
    text-align: center;
    color: #fff;
    font-size: 20px;
    border: 0px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 999999;
    outline: none !important;
}

footer {
    padding: 20px 0;
    border: 1px solid #f5f5f5;
}
ul.footer-social li {
    display: inline-block;
    padding: 0 10px;
    margin-right: 10px;
}
ul.footer-social li a i {
    font-size: 22px;
    color: #00b8ef;
    transition: all ease 0.2s;
}
ul.footer-social li a i:hover {
    color: #ffffff;
    text-shadow: 0 0 5px rgb(255, 137, 65);
}
.footer-copy-right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.footer-copy-right p {
    font-size: 16px;
}

@media screen and (max-width: 1199px) {
    .main-text-banner h3{
        font-size: 50px;
        line-height: 60px;
    }
}
@media screen and (max-width: 991px) {
    .main-image-banner {
        display: none;
    }
    .shape-2 {
        display: none;
    }
    .block-top-banner {
        background: -moz-linear-gradient(left, rgba(194,255,237,1) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(194,255,237,1)), color-stop(80%, rgba(255,255,255,1)), color-stop(100%, rgba(255,255,255,1)));
        background: -webkit-linear-gradient(left, rgba(194,255,237,1) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
        background: -o-linear-gradient(left, rgba(194,255,237,1) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
        background: -ms-linear-gradient(left, rgba(194,255,237,1) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
        background: linear-gradient(to right, rgba(194,255,237,1) 0%, rgba(255,255,255,1) 80%, rgba(255,255,255,1) 100%);
    }
    .main-text-banner {
        position: relative;
        top: 0;
    }
    .main-text-banner p {
        width: 100%;
    }
    .block-vc-list .vc-list {
        overflow: hidden;
        position: relative;
        padding-bottom: 12px;
    }
    .block-vc-list .vc-list .vc-desc {
        width: 100%;
        margin-right: 0px;
        padding-right: 0px;
        border-right: 0px;
    }
    .btn-apply {
        margin-top: 6px;
        font-size: 14px;
    }
    .block-vc-list .vc-list .vc-time {
        position: absolute;
        bottom: 10px;
    }
    .block-vc-list .vc-list .vc-time .text-dl {
        display: block;
        font-weight: 600;
        color: #58d2f5;
    }
    .block-vc-list .vc-list .vc-time .text-dl:after {
        content: "";
        margin-right: 0px;
    }
    .content-page-wrap h1 {
        padding: 0px 20px;
        font-size: 1.5rem;
        line-height: 35px;
    }
}
@media screen and (max-width: 767px) {
    .main-text-banner h3 {
        font-size: 35px;
        line-height: 45px;
        text-shadow: rgb(255, 255, 255) 2px 2px 0px;
    }
    .main-text-banner p {
        font-size: 18px;
        line-height: 28px;
    }
    .head-text.pgh {
        display: block;
    }
    .head-text.pgh h3 {
        text-align: center !important;
    }
    .head-text.pgh p {
        text-align: center;
        margin-top: 20px;
    }
    .footer-copy-right {
        justify-content: center;
    }
    ul.footer-social {
        text-align: center;
        margin-bottom: 20px;
        padding-left: 0px;
    }
    .content-page-wrap {
        padding-left: 15px;
        padding-right: 15px;
    }
    .content-page-wrap h1 {
        padding: 0px 15px;
        font-size: 1.2rem;
        line-height: 28px;
    }
}
@media screen and (max-width: 575px) {
    .navbar {
        padding: 0px 15px;
    }
}
@media screen and (max-width: 439px) {
    .main-text-banner h3 {
        font-size: 26px;
        line-height: 36px;
    }
    .main-text-banner p {
        font-size: 16px;
        line-height: 26px;
    }
    .shape-1 {
        left: auto;
        right: 0px;
    }
}